body {
  background-color: aqua;
  overflow: hidden;
}

.card {
  margin-top: 10%;
}

.img h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.img img {
  height: 200px;
  width: auto;
  margin-bottom: 20px;
}